<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ugc.ugctv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:banner="@drawable/ic_logo_ugc"
        android:name=".core.UgcApplication">

        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/FullTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tv.TvActivity"
            android:theme="@style/FullTranslucent"
            android:configChanges="keyboard|keyboardHidden|navigation"/>

        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/ThemeUgcLeanbackPreferences"/>

    </application>

</manifest>
